# Prototype 1 - BM25 3/3 Indexes - Correct Result



---



---

## Future Potential Adjustments:


*   Optimization - apply multi-stage retrieval system



---



---

# Imports & Installs

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
import nltk
from nltk.corpus import stopwords

from nltk.stem import WordNetLemmatizer

from nltk.stem.porter import PorterStemmer

In [2]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [3]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [4]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [5]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True



---



---

# Input Query

Please describe the film you would like to see. An example could be 'battle', 'war', 'survivor'.

In [6]:
q_terms = ['survivor', 'battle']
df_q = pd.DataFrame(q_terms, columns=['Query'])
df_q

      Query
0  survivor
1    battle



---



---

# Dataset

In [7]:
df0 = pd.read_csv('imdb_top_1000.csv') 
df = pd.read_csv('imdb_top_1000.csv')  
df0.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

 

---



---

# Stop Word Removal

In [8]:
stop_words = stopwords.words('english')
df['Overview'] = df['Overview'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
df_q['Query'] = df_q['Query'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))

df['Overview']

0      Two imprisoned men bond number years, finding ...
1      An organized crime dynasty's aging patriarch t...
2      When menace known Joker wreaks havoc chaos peo...
3      The early life career Vito Corleone 1920s New ...
4      A jury holdout attempts prevent miscarriage ju...
                             ...
995    A young New York socialite becomes interested ...
996    Sprawling epic covering life Texas cattle ranc...
997    In Hawaii 1941, private cruelly punished boxin...
998    Several survivors torpedoed merchant ship Worl...
999    A man London tries help counter-espionage Agen...
Name: Overview, Length: 1000, dtype: object

 

---



---

# Lemmatization

In [9]:
lemmatizer = WordNetLemmatizer()
def lemmatize_words(text):
    words = text.split()
    words = [lemmatizer.lemmatize(word,pos='v') for word in words]
    return ' '.join(words)
df['Overview'] = df['Overview'].apply(lemmatize_words)
df_q['Query'] = df_q['Query'].apply(lemmatize_words)

df['Overview']

0      Two imprison men bond number years, find solac...
1      An organize crime dynasty's age patriarch tran...
2      When menace know Joker wreak havoc chaos peopl...
3      The early life career Vito Corleone 1920s New ...
4      A jury holdout attempt prevent miscarriage jus...
                             ...
995    A young New York socialite become interest you...
996    Sprawling epic cover life Texas cattle rancher...
997    In Hawaii 1941, private cruelly punish box uni...
998    Several survivors torpedo merchant ship World ...
999    A man London try help counter-espionage Agent....
Name: Overview, Length: 1000, dtype: object

 

---



---

# Stemming

In [10]:
porter_stemmer  = PorterStemmer()
def stemmer_words(text):
    words = text.split()
    words = [porter_stemmer.stem(word) for word in words]
    return ' '.join(words)
df['Overview'] = df['Overview'].apply(stemmer_words)
df_q['Query'] = df_q['Query'].apply(stemmer_words)

df['Overview']

0      two imprison men bond number years, find solac...
1      An organ crime dynasty' age patriarch transfer...
2      when menac know joker wreak havoc chao peopl g...
3      the earli life career vito corleon 1920 new yo...
4      A juri holdout attempt prevent miscarriag just...
                             ...
995    A young new york socialit becom interest young...
996    sprawl epic cover life texa cattl rancher fami...
997    In hawaii 1941, privat cruelli punish box unit...
998    sever survivor torpedo merchant ship world war...
999    A man london tri help counter-espionag agent. ...
Name: Overview, Length: 1000, dtype: object

 

---



---

# Dataset Reduction

In [11]:
#N=900
#df = df.iloc[:-N , :] 
# We remove 900/1000 observations for the purpose of this architecture
# In practice, this cell would be removed, thus using all 1000 observations

In [12]:
df = df.drop(['Poster_Link', 'Certificate', 'No_of_Votes', 'Gross', 'Runtime', 'Meta_score','Director', 'Star1', 'Star2', 'Star3', 'Star4'], axis = 1)
df = df.rename(columns={'Series_Title': "Title",
                        'Released_Year': 'Year',
                        'IMDB_Rating': 'Rating'})

In [13]:
print(df.shape)
df.head()

(1000, 5)

,Title,Year,Genre,Rating,Overview
0,The Shawshank Redemption,1994,Drama,9.3,"two imprison men bond number years, find solac..."
1,The Godfather,1972,"Crime, Drama",9.2,An organ crime dynasty' age patriarch transfer...
2,The Dark Knight,2008,"Action, Crime, Drama",9.0,when menac know joker wreak havoc chao peopl g...
3,The Godfather: Part II,1974,"Crime, Drama",9.0,the earli life career vito corleon 1920 new yo...
4,12 Angry Men,1957,"Crime, Drama",9.0,A juri holdout attempt prevent miscarriag just...

 

---



---

# The Documents

In [14]:
documents=df['Overview'].unique()
print(documents.shape)
documents

(1000,)

array(['two imprison men bond number years, find solac eventu redempt act common decency.',
       "An organ crime dynasty' age patriarch transfer control clandestin empir reluct son.",
       'when menac know joker wreak havoc chao peopl gotham, batman must accept one greatest psycholog physic test abil fight injustice.',
       'the earli life career vito corleon 1920 new york citi portrayed, son, michael, expand tighten grip famili crime syndicate.',
       'A juri holdout attempt prevent miscarriag justic forc colleagu reconsid evidence.',
       "gandalf aragorn lead world men sauron' armi draw gaze frodo sam approach mount doom one ring.",
       'the live two mob hitmen, boxer, gangster wife, pair diner bandit intertwin four tale violenc redemption.',
       'In german-occupi poland world war ii, industrialist oskar schindler gradual becom concern jewish workforc wit persecut nazis.',
       'A thief steal corpor secret use dream-shar technolog give invers task plant idea mind c.e.o.',
       'An insomniac offic worker devil-may-car soapmak form underground fight club evolv someth much, much more.',
       'A meek hobbit shire eight companion set journey destroy power one ring save middle-earth dark lord sauron.',
       'the presid kennedi johnson, event vietnam, waterg histor event unfold perspect alabama man IQ 75, whose desir reunit childhood sweetheart.',
       'A bounti hunt scam join two men uneasi allianc third race find fortun gold buri remot cemetery.',
       "while frodo sam edg closer mordor help shifti gollum, divid fellowship make stand sauron' new ally, saruman, hord isengard.",
       'when beauti stranger lead comput hacker neo forbid underworld, discov shock truth--th life know elabor decept evil cyber-intelligence.',
       'the stori henri hill life mob, cover relationship wife karen hill mob partner jimmi conway tommi devito italian-american crime syndicate.',
       'after rebel brutal overpow empir ice planet hoth, luke skywalk begin jedi train yoda, friend pursu darth vader bounti hunter name boba fett galaxy.',
       'A crimin plead insan admit mental institution, rebel oppress nurs ralli scar patients.',
       "the real life one america' foremost found father first secretari treasury, alexand hamilton. captur live broadway richard rodger theater origin broadway cast.",
       'greed class discrimin threaten newli form symbiot relationship wealthi park famili destitut kim clan.',
       'nedumaaran rajangam "maara" set make common man fli process take world\' capit intens industri sever enemi stand way.',
       "A team explor travel wormhol space attempt ensur humanity' survival.",
       "In slum rio, two kids' path diverg one struggl becom photograph kingpin.",
       "dure family' move suburbs, sullen 10-year-old girl wander world rule gods, witches, spirits, human chang beasts.",
       'follow normandi landings, group u.s. soldier go behind enemi line retriev paratroop whose brother kill action.',
       'the live guard death row affect one charges: black man accus child murder rape, yet mysteri gift.',
       'when open-mind jewish librarian son becom victim holocaust, use perfect mixtur will, humor, imagin protect son danger around camp.',
       'two detectives, rooki veteran, hunt serial killer use seven deadli sin motives.',
       'A young f.b.i. cadet must receiv help incarcer manipul cannib killer help catch anoth serial killer, madman skin victims.',
       "luke skywalk join forc jedi knight, cocki pilot, wookie two droid save galaxi empire' world-destroy battl station, also attempt rescu princess leia mysteri darth vader.",
       "when ronin request seppuku feudal lord' palac tell brutal suicid anoth ronin previous visited, reveal past intertwin - challeng clan' integrity.",
       'A poor villag attack bandit recruit seven unemploy samurai help defend themselves.',
       'An angel send heaven help desper frustrat businessman show life would like never existed.',
       'In gotham city, mental troubl comedian arthur fleck disregard mistreat society. He embark downward spiral revolut bloodi crime. thi path bring face-to-fac alter-ego: joker.',
       "A promis young drummer enrol cut-throat music conservatori dream great mentor instructor stop noth realiz student' potential.",
       'after becom quadripleg paraglid accident, aristocrat hire young man project caregiver.',
       'after tragic accident, two stage magician engag battl creat ultim illus sacrific everyth outwit other.',
       'An undercov cop mole polic attempt identifi infiltr irish gang south boston.',
       'A polish jewish musician struggl surviv destruct warsaw ghetto world war ii.',
       'A former roman gener set exact vengeanc corrupt emperor murder famili send slavery.',
       'A former neo-nazi skinhead tri prevent younger brother go wrong path did.',
       'A sole survivor tell twisti event lead horrif gun battl boat, begin five crimin meet seemingli random polic lineup.',
       "mathilda, 12-year-old girl, reluctantli take lon, profession assassin, famili murdered. An unusu relationship form becom protg learn assassin' trade.",
       'lion princ simba father target bitter uncle, want ascend throne himself.',
       'A cyborg, ident one fail kill sarah connor, must protect teenag son, john connor, advanc power cyborg.',
       "A filmmak recal childhood fall love pictur cinema home villag form deep friendship cinema' projectionist.",
       'A young boy littl sister struggl surviv japan world war ii.',
       'marti mcfly, 17-year-old high school student, accident send thirti year past time-travel delorean invent close friend, eccentr scientist doc brown.',
       'A mysteri stranger harmonica join forc notori desperado protect beauti widow ruthless assassin work railroad.',
       "A phoenix secretari embezzl $40,000 employer' client, go run, check remot motel run young man domin mother.",
       'A cynic expatri american cafe owner struggl decid whether help former lover fugit husband escap nazi french morocco.',
       'the tramp struggl live modern industri societi help young homeless woman.',
       'with aid wealthi errat tippler, dewy-ey tramp fall love sightless flower girl accumul money abl help medically.',
       'while serv five-year sentenc violent crime, 12-year-old boy sue parent neglect.',
       'In 1950, amid-st ravag korean war, sergeant sleyman stumbl upon half-frozen littl girl, parent help sight. frantic, scar verg death, ... see full summari ',
       "vikram, no-nonsens polic officer, accompani simon, partner, hunt captur vedha, smuggler murderer. vedha tri chang vikram' life, lead conflict.",
       'two stranger find link bizarr way. when connect forms, distanc thing keep apart?',
       'former wrestler mahavir singh phogat two wrestler daughter struggl toward glori commonwealth game face societ oppression.',
       'teen mile moral becom spider-man universe, must join five spider-pow individu dimens stop threat realities.',
       "after devast event avengers: infin war (2018), univers ruins. with help remain allies, aveng assembl order revers thanos' action restor balanc universe.",
       'the aveng alli must will sacrific attempt defeat power thano blitz devast ruin put end universe.',
       "aspir musician miguel, confront family' ancestr ban music, enter land dead find great-great-grandfather, legendari singer.",
       'with help german bounti hunter, free slave set rescu wife brutal mississippi plantat owner.',
       "eight year joker' reign anarchy, batman, help enigmat catwoman, forc exil save gotham citi brutal guerrilla terrorist bane.",
       'two friend search long lose companion. they revisit colleg day recal memori friend inspir think differently, even rest world call "idiots".',
       'An eight-year-old boy think lazi trouble-maker, new art teacher patienc compass discov real problem behind struggl school.',
       'In distant future, small waste-collect robot inadvert embark space journey ultim decid fate mankind.',
       'In 1984 east berlin, agent secret police, conduct surveil writer lover, find becom increasingli absorb lives.',
       'after kidnap imprison fifteen years, Oh dae-su released, find must find captor five days.',
       "A man short-term memori loss attempt track wife' murderer.",
       "On journey find cure tatarigami' curse, ashitaka find middl war forest god tatara, mine colony. In quest also meet san, mononok hime.",
       'A former prohibition-era jewish gangster return lower east side manhattan thirti year later, must confront ghost regret old life.',
       "In 1936, archaeologist adventur indiana jone hire u.s. govern find ark coven adolf hitler' nazi obtain awesom powers.",
       'A famili head isol hotel winter sinist presenc influenc father violence, psychic son see horrif forebod past future.',
       'A u.s. armi offic serv vietnam task assassin renegad special forc colonel see god.',
       'after space merchant vessel receiv unknown transmiss distress call, one crew attack mysteri life form soon realiz life cycl mere begun.',
       'the stori termin ill man wish live life fullest inevit occurs, tell best friend.',
       "An execut shoe compani becom victim extort chauffeur' son kidnap hold ransom.",
       'An insan gener trigger path nuclear holocaust war room full politician gener frantic tri stop.',
       'A veteran british barrist must defend client murder trial surpris surprise.',
       'after refus attack enemi position, gener accus soldier cowardic command offic must defend them.',
       'A wheelchair-bound photograph spi neighbor apart window becom convinc one commit murder.',
       'A screenwrit develop danger relationship fade film star determin make triumphant return.',
       "dictat adenoid hynkel tri expand empir poor jewish barber tri avoid persecut hynkel' regime.",
       'april 6th, 1917. As regiment assembl wage war deep enemi territory, two soldier assign race time deliv messag stop 1,600 men walk straight deadli trap.',
       'A mytholog stori goddess creat entir universe. the plot revolv around consequ human build templ first-born.',
       'A seri mysteri event chang life blind pianist, must report crime technic know noth of.',
       'A man go extrem length save famili punish famili commit accident crime.',
       "A teacher live lone life, struggl son' custody. hi life slowli get better find love receiv good news son, new luck brutal shatter innoc littl lie.",
       "A marri coupl face difficult decis - improv life child move anoth countri stay iran look deterior parent alzheimer' disease.",
       "twin journey middl east discov famili histori fulfil mother' last wishes.",
       'A stori love mentally-il father wrongli accus murder love six year old daughter. the prison would home. base 2013 korean movi 7-beon-bang-ui seon-mul (2013).',
       'the famili left-w journalist tear apart militari coup turkey 1980.',
       "In nazi-occupi franc world war ii, plan assassin nazi leader group jewish u.s. soldier coincid theatr owner' veng plan same.",
       'when relationship turn sour, coupl undergo medic procedur eras memories.',
       'amli innoc naiv girl pari sens justice. she decid help around and, along way, discov love.',
       'unscrupul box promoters, violent bookmakers, russian gangster, incompet amateur robber supposedli jewish jewel fight track priceless steal diamond.',
       'the drug-induc utopia four coney island peopl shatter addict run deep.',
       "A sexual frustrat suburban father mid-lif crisi becom infatu daughter' best friend.",
       'will hunting, janitor m.i.t., gift mathematics, need help psychologist find direct life.',
       'after boy lose sister\' pair shoes, go seri adventur order find them. when can\'t, tri new way "win" new pair.',
       "A cowboy doll profoundli threaten jealou new spaceman figur supplant top toy boy' room.",
       'scottish warrior william wallac lead countrymen rebellion free homeland tyranni king edward I england.',
       'when simpl jewelri heist go horribl wrong, surviv crimin begin suspect one polic informant.',
       'A pragmat u.s. marin observ dehuman effect vietnam war fellow recruit brutal boot camp train bloodi street fight hue.',
       'after find old rifle, young boy join soviet resist movement ruthless german forc experi horror world war ii.',
       'fifty-seven year surviv apocalypt attack aboard space vessel merciless space creatures, offic ripley awaken hyper-sleep tri warn anyon listen predators.',
       "the life, success troubl wolfgang amadeu mozart, tell antonio salieri, contemporan compos insan jealou mozart' talent claim murder him.",
       'In 1980 miami, determin cuban immigr take drug cartel succumb greed.',
       "after dare mission rescu han solo jabba hutt, rebel dispatch endor destroy second death star. meanwhile, luke struggl help darth vader back dark side without fall emperor' trap.",
       'the claustrophob world wwii german u-boat; boredom, filth sheer terror.',
       'A mental unstabl veteran work nighttim taxi driver new york city, perceiv decad sleaz fuel urg violent action attempt liber presidenti campaign worker underag prostitute.',
       'two grifter team pull ultim con.',
       'In future, sadist gang leader imprison volunt conduct-avers experiment, go planned.',
       'after discov mysteri artifact buri beneath lunar surface, mankind set quest find origin help intellig supercomput h.a.l. 9000.',
       'two bounti hunter intent team track western outlaw.',
       'the stori t.e. lawrence, english offic success unit lead diverse, often warring, arab tribe world war I order fight turks.',
       'A man tri rise compani let execut use apart trysts, complic romanc ensue.',
       'A new york citi advertis execut go run mistak govern agent group foreign spies.',
       'A former polic detect juggl wrestl person demon becom obsess hauntingli beauti woman.',
       'A silent film product compani cast make difficult transit sound.',
       'A bureaucrat tri find mean life discov termin cancer.',
       "In post-war italy, working-class man' bicycl stolen. He son set find it.",
       'An insur repres let talk seduct housewif murder/insur fraud scheme arous suspicion insur investigator.',
       "follow death publish tycoon charl foster kane, report scrambl uncov mean final utterance; 'rosebud'.",
       'when polic german citi unabl catch child-murderer, crimin join manhunt.',
       "In futurist citi sharpli divid work class citi planners, son city' mastermind fall love working-class prophet predict come savior mediat differences.",
       'the tramp care abandon child, event put relationship jeopardy.',
       'A tragic incid forc anirudh, middle-ag man, take trip memori lane reminisc colleg day along friends, label losers.',
       'indian armi special forc execut covert operation, aveng kill fellow armi men base terrorist group.',
       'In 1970s, fierc rebel rise brutal oppress becom symbol hope legion downtrodden people.',
       'A working-class italian-american bouncer becom driver african-american classic pianist tour venu 1960 american south.',
       "A mother person challeng local author solv daughter' murder fail catch culprit.",
       'An experi investig confront sever conflict theori perpetr violent doubl homicide.',
       'when shiva, son bahubali, learn heritage, begin look answers. hi stori juxtapos past event unfold mahishmati kingdom.',
       "A simpl act kind alway spark another, even frozen, faraway place. when smeerensburg' new postman, jesper, befriend toymak klaus, gift melt age-old feud deliv sleigh full holiday traditions.",
       'desper measur take man tri save famili dark side law, commit unexpect crime.',
       'A delhi girl tradit famili set solo honeymoon marriag get cancelled.',
       'In 1992, war rag abkhazia, breakaway region georgia. An estonian man ivo decid stay behind harvest crop tangerines. In bloodi conflict door, wound man leav behind, ivo take in.',
       'the truth behind ascens milkha singh scar india-pakistan partition.',
       'A clash sultan shahid khan lead expuls khan wasseypur, ignit deadli blood feud span three generations.',
       'expel school, 16-year old boy return home abus oppress father.',
       'the stori paan singh tomar, indian athlet seven-tim nation steeplechas champion becom one fear dacoit chambal valley retirement.',
       'A retir legal counselor write novel hop find closur one past unresolv homicid case unreciproc love superior - still haunt decad later.',
       "the youngest son alcohol former boxer return home, he' train father competit mix martial art tournament - path put fighter collis cours estranged, older brother.",
       'In 1954, u.s. marshal investig disappear murder escap hospit crimin insane.',
       '78-year-old carl fredricksen travel paradis fall hous equip balloons, inadvert take young stowaway.',
       'base true stori jordan belfort, rise wealthi stock-brok live high life fall involv crime, corrupt feder government.',
       "kabir khan coach indian women' nation hockey team dream make girl team emerg victori odds.",
       'A stori family, religion, hatred, oil madness, focu turn-of-the-centuri prospector earli day business.',
       'In falangist spain 1944, bookish young stepdaught sadist armi offic escap eeri captiv fantasi world.',
       'the toy mistakenli deliv day-car center instead attic right andi leav college, woodi convinc toy abandon return home.',
       'In futur british tyranny, shadowi freedom fighter, know alia "v", plot overthrow help young woman.',
       'the stori six young indian assist english woman film documentari freedom fighter past, event lead reliv long-forgotten saga freedom.',
       "the cathart tale young woman can't see, hear talk teacher bring ray light dark world.",
       'after train mentor, batman begin fight free crime-ridden gotham citi corruption.',
       'A success indian scientist return indian villag take nanni america process rediscov roots.',
       "traudl junge, final secretari adolf hitler, tell nazi dictator' final day berlin bunker end wwii.",
       'when unconfid young woman curs old bodi spite witch, chanc break spell lie self-indulg yet insecur young wizard companion legged, walk castle.',
       'after john nash, brilliant asoci mathematician, accept secret work cryptography, life take turn nightmarish.',
       'three unemploy men look answer money problem - opportun arrives, know it?',
       'A botch card game london trigger four friends, thugs, weed-growers, hard gangsters, loan shark debt collector collid seri unexpect events, sake weed, cash two antiqu shotguns.',
       'As corrupt grow 1950 lo angeles, three policemen - one strait-laced, one brutal, one sleazi - investig seri murder brand justice.',
       'baran bandit, releas prison 35 years, search vengeanc lover.',
       'A group profession bank robber start feel heat polic unknowingli leav clue latest heist.',
       'A tale greed, deception, money, power, murder occur two best friends: mafia enforc casino execut compet gambl empire, fast-liv fast-lov socialite.',
       'two slacker compet affect heiress inadvert becom protector evil criminal.',
       'retir old west gunsling william munni reluctantli take one last job, help old partner ned logan young man, the "schofield kid."',
       'In 1938, father professor henri jones, sr. go miss pursu holi grail, professor henri "indiana" jones, jr. find adolf hitler\' nazi stop obtain powers.',
       'In lumin tale set area around sarajevo italy, perhan, engag young romani (gypsy) telekinet powers, seduc quick-cash world petti crime, threaten destroy loves.',
       'when two girl move countri near ail mother, adventur wondrou forest spirit live nearby.',
       'An nypd offic tri save wife sever other take hostag german terrorist christma parti nakatomi plaza lo angeles.',

 

---



---

# Resultant Indexed Query

In [15]:
df_q['Query']

0    survivor
1       battl
Name: Query, dtype: object



---



---

# Vectorization (Bag of Words)

In [16]:
vectorizer = CountVectorizer(stop_words='english')
documents_vectorized = vectorizer.fit_transform(documents)
vocabulary = vectorizer.get_feature_names_out()

In [17]:
dataframe = pd.DataFrame(documents_vectorized.toarray(), columns=vocabulary)
dataframe.head()

,00,000,007,10,100,100th,11,1183,12,13,...,zero,zodiac,zombi,zombie,zon,zone,zorg,zuckerberg,zulu,dith
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
dfs = (dataframe > 0).sum(axis=0)
dfs.shape # Number of unique words in 100 documents
dfs

00            1
000           5
007           2
10            2
100           1
             ..
zone          1
zorg          1
zuckerberg    1
zulu          1
dith         1
Length: 4728, dtype: int64

In [19]:
# then calculate idf:
N = dataframe.shape[0]

In [20]:
idfs = np.log10(N/dfs)
idfs

00            3.00000
000           2.30103
007           2.69897
10            2.69897
100           3.00000
               ...
zone          3.00000
zorg          3.00000
zuckerberg    3.00000
zulu          3.00000
dith         3.00000
Length: 4728, dtype: float64

 

---



---

# BM25 Frequency Conversion

In [21]:
k_1 = 1.2 # single value
b = 0.8 # single value
## considering all words in doc
dls = [len(d.split(' ')) for d in documents] # vector
## considering words minus stop words in doc. 
dls = dataframe.sum(axis=1).tolist()
print(dls)
avgdl = np.mean(dls) # single value

[11, 11, 17, 18, 10, 15, 13, 17, 13, 12, 15, 18, 13, 18, 19, 20, 22, 12, 18, 14, 17, 9, 9, 17, 12, 14, 17, 11, 16, 24, 19, 10, 10, 24, 17, 10, 12, 11, 11, 11, 10, 17, 19, 10, 14, 14, 10, 23, 14, 16, 15, 10, 17, 12, 21, 19, 9, 13, 15, 20, 12, 16, 13, 17, 17, 17, 14, 14, 9, 9, 16, 16, 15, 16, 11, 18, 13, 11, 13, 9, 11, 11, 11, 14, 23, 13, 12, 10, 23, 17, 10, 24, 9, 18, 9, 12, 18, 10, 12, 9, 14, 12, 13, 11, 17, 16, 21, 17, 9, 23, 9, 24, 4, 10, 15, 7, 16, 12, 12, 11, 9, 7, 10, 14, 14, 10, 21, 7, 16, 15, 12, 16, 11, 10, 16, 24, 11, 9, 22, 8, 14, 11, 17, 17, 20, 9, 14, 18, 15, 13, 14, 18, 13, 18, 12, 11, 11, 15, 21, 12, 9, 24, 15, 9, 13, 21, 9, 17, 21, 22, 11, 15, 15, 11, 9, 9, 14, 12, 15, 13, 14, 11, 10, 13, 10, 13, 8, 8, 9, 12, 13, 12, 14, 4, 13, 14, 11, 14, 11, 9, 12, 13, 18, 17, 9, 13, 11, 19, 6, 17, 12, 18, 22, 20, 10, 14, 9, 26, 18, 16, 11, 8, 13, 17, 15, 21, 15, 7, 6, 22, 14, 26, 14, 11, 8, 13, 13, 10, 7, 14, 14, 9, 12, 18, 14, 15, 9, 12, 8, 12, 7, 23, 13, 16, 13, 15, 11, 10, 14, 14, 8, 17, 18, 12, 18, 13, 14, 10, 17, 12, 12, 10, 10, 13, 9, 11, 17, 13, 13, 15, 11, 14, 17, 10, 11, 15, 11, 10, 9, 6, 10, 10, 7, 8, 13, 10, 19, 17, 15, 8, 11, 10, 9, 14, 15, 10, 13, 20, 15, 15, 10, 12, 14, 13, 12, 17, 15, 16, 5, 12, 12, 8, 4, 14, 14, 11, 19, 12, 17, 13, 13, 12, 25, 24, 8, 11, 16, 15, 17, 11, 16, 12, 16, 14, 7, 19, 17, 20, 11, 12, 14, 22, 14, 9, 10, 12, 13, 15, 7, 14, 10, 9, 14, 11, 14, 16, 13, 10, 25, 12, 14, 11, 13, 11, 21, 9, 16, 9, 12, 17, 15, 8, 16, 11, 12, 10, 13, 8, 15, 12, 9, 16, 20, 16, 9, 14, 4, 18, 11, 16, 11, 13, 16, 14, 15, 17, 20, 11, 21, 13, 22, 12, 16, 12, 11, 14, 23, 17, 14, 12, 14, 16, 13, 14, 20, 9, 15, 7, 15, 10, 16, 11, 6, 9, 11, 10, 18, 13, 10, 20, 16, 12, 16, 12, 10, 15, 10, 12, 11, 14, 12, 21, 8, 7, 13, 18, 11, 12, 21, 13, 11, 11, 20, 7, 15, 7, 9, 14, 15, 10, 12, 20, 14, 17, 16, 9, 11, 18, 12, 14, 8, 11, 10, 21, 11, 6, 23, 10, 16, 11, 11, 6, 8, 20, 17, 17, 15, 31, 20, 12, 15, 13, 15, 6, 20, 7, 21, 10, 8, 23, 14, 14, 11, 15, 15, 20, 20, 17, 12, 11, 19, 8, 19, 16, 15, 12, 12, 24, 16, 9, 13, 17, 13, 13, 14, 19, 15, 17, 9, 13, 13, 12, 10, 10, 17, 14, 10, 14, 8, 8, 12, 15, 11, 9, 8, 23, 9, 17, 16, 10, 13, 8, 13, 11, 19, 14, 21, 13, 11, 17, 14, 9, 15, 15, 21, 14, 26, 17, 15, 17, 9, 21, 11, 10, 13, 16, 24, 12, 18, 22, 20, 11, 20, 20, 16, 12, 16, 10, 12, 18, 12, 15, 9, 14, 19, 13, 20, 9, 11, 17, 13, 11, 14, 13, 16, 14, 19, 15, 16, 7, 18, 10, 18, 15, 17, 12, 12, 9, 9, 13, 10, 22, 22, 13, 10, 26, 18, 15, 9, 25, 19, 19, 12, 10, 14, 15, 15, 10, 10, 13, 13, 14, 14, 13, 12, 14, 13, 14, 17, 12, 14, 16, 17, 15, 9, 11, 10, 11, 11, 16, 15, 12, 15, 14, 12, 13, 11, 9, 13, 10, 10, 14, 9, 10, 16, 8, 9, 13, 12, 22, 13, 14, 14, 10, 11, 10, 15, 14, 14, 13, 12, 8, 19, 15, 14, 9, 7, 8, 21, 18, 13, 20, 17, 11, 11, 14, 15, 14, 12, 12, 10, 26, 23, 13, 15, 10, 22, 18, 16, 7, 15, 11, 18, 12, 22, 13, 18, 21, 11, 18, 13, 19, 10, 11, 18, 8, 18, 12, 19, 20, 17, 17, 19, 21, 11, 16, 14, 14, 16, 14, 7, 16, 16, 14, 15, 11, 11, 21, 18, 15, 16, 15, 14, 7, 17, 12, 18, 12, 7, 20, 12, 11, 12, 14, 10, 13, 17, 12, 16, 12, 16, 12, 21, 10, 17, 9, 8, 11, 17, 11, 8, 15, 11, 7, 12, 10, 13, 16, 11, 10, 14, 10, 13, 10, 14, 15, 14, 8, 14, 12, 17, 9, 11, 6, 12, 14, 12, 14, 10, 20, 10, 4, 10, 9, 19, 9, 13, 9, 11, 18, 14, 18, 10, 19, 17, 9, 10, 12, 13, 13, 11, 18, 11, 19, 15, 10, 18, 8, 15, 12, 8, 13, 20, 6, 11, 9, 9, 10, 10, 14, 9, 13, 10, 15, 13, 8, 7, 11, 8, 17, 7, 22, 15, 12, 11, 16, 13, 16, 10, 15, 26, 19, 17, 14, 16, 21, 14, 17, 16, 7, 10, 18, 22, 11, 9, 14, 13, 16, 17, 18, 19, 22, 23, 16, 14, 18, 12, 12, 14, 17, 20, 17, 12, 20, 14, 12, 11, 20, 10, 13, 18, 8, 13, 16, 14, 26, 12, 20, 11, 16, 9, 19, 18, 10, 14, 9, 14, 13, 12, 15, 9, 14, 13, 20, 10, 12, 13, 10, 15, 11, 18, 11, 15, 17, 16, 10, 17, 5, 10, 9, 14, 10, 13, 14, 11, 10, 11, 11, 12, 12, 19, 19, 15, 21, 11, 16, 18, 11, 14, 10, 11, 10, 13, 9, 16, 12, 9, 14, 14, 21]

In [22]:
# With these we can calculate the BM25 term frequency quantification. Switching to numpy to make things easier:
numerator = np.array((k_1 + 1) * dataframe)
denominator = np.array(k_1 *((1 - b) + b * (dls / avgdl))).reshape(N,1) + np.array(dataframe)

BM25_tf = numerator / denominator

idfs = np.array(idfs)

BM25_score = BM25_tf * idfs

In [23]:
np.array(dataframe)

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [24]:
bm25_idf = pd.DataFrame(BM25_score, columns=vocabulary)
bm25_idf.head()

,00,000,007,10,100,100th,11,1183,12,13,...,zero,zodiac,zombi,zombie,zon,zone,zorg,zuckerberg,zulu,dith
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
cols = list(bm25_idf.columns.values)
cols[10:20]    # remove brackets to see full list of words to chose from

['14', '1431', '16', '160', '16th', '17', '170', '1820', '18th', '19']

In [26]:
sum_of = bm25_idf.sum(axis=0) 
df_sum = pd.DataFrame(sum_of, columns=['bm25_idf'])
print(df_sum.shape)
df_sum

(4728, 1)

             bm25_idf
00           2.206294
000         10.830017
007          4.427434
10           4.957533
100          3.401051
...               ...
zone         3.528433
zorg         2.795518
zuckerberg   2.566999
zulu         3.665727
dith        2.498909

[4728 rows x 1 columns]

In [27]:
bm25_idf

,00,000,007,10,100,100th,11,1183,12,13,...,zero,zodiac,zombi,zombie,zon,zone,zorg,zuckerberg,zulu,dith
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
df_sum_gt = df_sum[df_sum['bm25_idf']>1]     # lt = less than,  gt = greater than
#df_sum_gt

 

---



---

# Scoring the Query

In [29]:
q_terms_only_df = bm25_idf[df_q['Query']]

score_q_d = q_terms_only_df.sum(axis=1)

 

---



---

# Results Investigation

In [30]:
# rank the documents
result = sorted(zip(documents,score_q_d.values), key = lambda tup:tup[1], reverse=True)
# We have now ranked each document, retrieving documents closely related to query

In [31]:
result = [x for x in result if not 0.0 in x]
result    # add [0] for single results

[('A sole survivor tell twisti event lead horrif gun battl boat, begin five crimin meet seemingli random polic lineup.',
  3.529105351646774),
 ('four week mysterious, incur viru spread throughout uk, hand survivor tri find sanctuary.',
  2.518873751498002),
 ('the lone survivor onslaught flesh-possess spirit hole cabin group stranger demon continu attack.',
  2.2727273981696503),
 ('sever survivor torpedo merchant ship world war II find lifeboat one crew member u-boat sink ship.',
  2.2010318679057392),
 ('A grow nation genet evolv ape lead caesar threaten band human survivor devast viru unleash decad earlier.',
  2.070405700691785),
 ("outnumb british soldier battl zulu warrior rorke' drift.",
  2.0500955672881513),
 ('A russian german sniper play game cat-and-mous battl stalingrad.',
  1.973312123001283),
 ('A young man surviv disast sea hurtl epic journey adventur discovery. while cast away, form unexpect connect anoth survivor: fearsom bengal tiger.',
  1.8507323088039045),
 ('after tragic accident, two stage magician engag battl creat ultim illus sacrific everyth outwit other.',
  1.773985708662067),
 ('frank, singl man rais child prodigi niec mary, draw custodi battl mother.',
  1.773985708662067),
 ("A man love game theater invit wife' lover meet him, set battl wit potenti deadli results.",
  1.662061290304144),
 ('detect sherlock holm stalwart partner watson engag battl wit brawn nemesi whose plot threat england.',
  1.662061290304144),
 ('In future, japanes govern captur class ninth-grad student forc kill revolutionari "battl royale" act.',
  1.662061290304144),
 ("harry, ron, hermion search voldemort' remain horcrux effort destroy dark lord final battl rag hogwarts.",
  1.6112332745505638),
 ('the stori battl iwo jima unit state imperi japan world war ii, tell perspect japanes fight it.',
  1.6112332745505638),
 ('alli soldier belgium, british empire, franc surround german armi evacu fierc battl world war ii.',
  1.6112332745505638),
 ("A battl world' two greatest mind begin light yagami find death note, notebook power kill, decid rid world criminals.",
  1.5634217843556517),
 ('160 elit u.s. soldier drop somalia captur two top lieuten renegad warlord find desper battl larg forc heavily-arm somalis.',
  1.5634217843556517),
 ('chri taylor, neophyt recruit vietnam, find catch battl will two sergeants, one good evil. A shrewd examin brutal war dualiti man conflict.',
  1.5183660228104232),
 ("A small-tim rancher agre hold captur outlaw who' await train go court yuma. A battl will ensu outlaw tri psych rancher.",
  1.5183660228104232),
 ('when hiccup toothless discov ice cave home hundr new wild dragon mysteri dragon rider, two friend find center battl protect peace.',
  1.4758344141868114),
 ('As steve roger struggl embrac role modern world, team fellow aveng s.h.i.e.l.d agent, black widow, battl new threat history: assassin know winter soldier.',
  1.3614277834074553),
 ('world war II american armi medic desmond T. doss, serv battl okinawa, refus kill people, becom first man american histori receiv medal honor without fire shot.',
  1.3271346401939987),
 ("ted kramer' wife leav him, allow lose bond rediscov ted son, billy. but heat custodi battl ensu divorc couple' son, deepen wound leav separation.",
  1.3271346401939987),
 ("luke skywalk join forc jedi knight, cocki pilot, wookie two droid save galaxi empire' world-destroy battl station, also attempt rescu princess leia mysteri darth vader.",
  1.2634826534901433),
 ('american car design carrol shelbi driver ken mile battl corpor interfer law physic build revolutionari race car ford order defeat ferrari 24 hour Le man 1966.',
  1.2056569744786252)]

In [32]:
def_res = pd.DataFrame(result)
def_res

                                                    0         1
0   A sole survivor tell twisti event lead horrif ...  3.529105
1   four week mysterious, incur viru spread throug...  2.518874
2   the lone survivor onslaught flesh-possess spir...  2.272727
3   sever survivor torpedo merchant ship world war...  2.201032
4   A grow nation genet evolv ape lead caesar thre...  2.070406
5   outnumb british soldier battl zulu warrior ror...  2.050096
6   A russian german sniper play game cat-and-mous...  1.973312
7   A young man surviv disast sea hurtl epic journ...  1.850732
8   after tragic accident, two stage magician enga...  1.773986
9   frank, singl man rais child prodigi niec mary,...  1.773986
10  A man love game theater invit wife' lover meet...  1.662061
11  detect sherlock holm stalwart partner watson e...  1.662061
12  In future, japanes govern captur class ninth-g...  1.662061
13  harry, ron, hermion search voldemort' remain h...  1.611233
14  the stori battl iwo jima unit state imperi jap...  1.611233
15  alli soldier belgium, british empire, franc su...  1.611233
16  A battl world' two greatest mind begin light y...  1.563422
17  160 elit u.s. soldier drop somalia captur two ...  1.563422
18  chri taylor, neophyt recruit vietnam, find cat...  1.518366
19  A small-tim rancher agre hold captur outlaw wh...  1.518366
20  when hiccup toothless discov ice cave home hun...  1.475834
21  As steve roger struggl embrac role modern worl...  1.361428
22  world war II american armi medic desmond T. do...  1.327135
23  ted kramer' wife leav him, allow lose bond red...  1.327135
24  luke skywalk join forc jedi knight, cocki pilo...  1.263483
25  american car design carrol shelbi driver ken m...  1.205657

 

---



---

# Final Resultant Output

In [33]:
string_def = def_res.iloc[0,0]
string_def

'A sole survivor tell twisti event lead horrif gun battl boat, begin five crimin meet seemingli random polic lineup.'

In [34]:
result1 = df[df.eq(string_def).any(1)]
result1

,Title,Year,Genre,Rating,Overview
41,The Usual Suspects,1995,"Crime, Mystery, Thriller",8.5,A sole survivor tell twisti event lead horrif ...

In [35]:
result1_index = result1.index[0]
result1_index

41

In [36]:
overview1 = df0.loc[result1_index,:].Overview
title1 = df0.loc[result1_index,:].Series_Title

In [37]:
print('The resultant movie title suggestion, based on your input query is:', title1)
print('Please see the overview of the movie below:\n', overview1)

The resultant movie title suggestion, based on your input query is: The Usual Suspects
Please see the overview of the movie below:
 A sole survivor tells of the twisty events leading up to a horrific gun battle on a boat, which began when five criminals met at a seemingly random police lineup.

 

---



---

So someone has searched for a film with a 'battle' in it and also a 'survivor'. The best matched result is given above.

This is a prototype and therefore very simple. The final prototype would list more movie matches.



---



---